.idea/
auto-update.xml
dev-utils.crx
dist.crx
main.pem
dist.pem
dist-firefox
jira-helper.zip
jira-helper-firefox.zip
.DS_Store
node_modules
.vscode
dist
.gitconfig
coverage
.history
*storybook.log
jira-helper-*.zip

memory-bank/activeContext.md
memory-bank/progress.md
